<!-- Mobile Menu Panel -->
<div x-show="mobileMenuOpen" 
     x-transition:enter="transition ease-out duration-200"
     x-transition:enter-start="opacity-0 transform scale-95"
     x-transition:enter-end="opacity-100 transform scale-100"
     x-transition:leave="transition ease-in duration-150"
     x-transition:leave-start="opacity-100 transform scale-100"
     x-transition:leave-end="opacity-0 transform scale-95"
     class="md:hidden bg-white border-t border-gray-200">
    {% if menu and menu.items %}
        <nav class="px-4 pt-2 pb-4">
            {% include 'menu.twig' with {
                'items': menu.items,
                'context': 'mobile'
            } %}
        </nav>
    {% endif %}
</div>